apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

images:
- name: my-app
  newName: mynamesandesh/argocd-demo
  newTag: dd6a0d9e83698a81e57d0059cf4948453fd58f84
